#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='nvim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

export FZF_BASE=/usr/local/bin/fzf

# zsh config
export UPDATE_ZSH_DAYS=13
export DISABLE_LS_COLORS="false"
export ENABLE_CORRECTION="false"
export COMPLETION_WAITING_DOTS="true"
export HIST_STAMPS="yyyy-mm-dd"

export CASE_SENSITIVE="false"

# Homebrew
export HOMEBREW_MAKE_JOBS=$(nproc)
export HOMEBREW_NO_AUTO_UPDATE=1

# Go lang
export GOROOT=/usr/local/opt/go/libexec
export GOPATH=$HOME/Projects/go
export GO111MODULE=on

# Python crash in specific version
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# FZF
export FZF_DEFAULT_OPTS='--height 30% --layout=reverse'
