#!/usr/bin/env bash

kc() {
    context_name=$(kubectl config get-contexts -o=name | fzf)
    if [ ! -z $context_name ]; then
        kubectl config use-context "$context_name"
    else
        echo "k8s context not changed"
    fi
}

ssh_list() {
    server_name="$(sed -rn 's/^\s*Host\s+(.*)\s*/\1/ip' ~/.ssh/config | fzf)"
    if [ "$server_name" = "" ]; then
        return
    fi
    echo "Connect to $server_name"
    ssh $server_name
}
